<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
    <a class="navbar-brand" href="/forum">
        <img src="https://craftsavvy.co.uk/wp-content/uploads/2018/07/logop-300x270.png" alt="Logo" style="width:40px;">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">

            <!-- Account Icon -->
            <li class="nav-item dropdown" id="profile-icon">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="" alt="Logo" style="width:40px; height: 40px;" id="profile-image">
                </a>

                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">My Profile</a>
                    <a class="dropdown-item" href="#">Account Settings</a>
                    <a class="dropdown-item" href="/forum/settings">Forum Settings</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="" id="logout-button">Logout</a>
                </div>
            </li>

            <!-- Login Button -->
            <li class="nav-item" id="login-link">
                <a class="nav-link" href="/login">Log In</a>
            </li>

            <!-- Search Button -->
            <li class="nav-item">
                <a href="#" class="nav-link"><span class="iconify" data-icon="feather-search" data-inline="true" style="height: 40px; width: 40px;"></span></a>
            </li>

            <!-- Alert Button -->
            <li class="nav-item">
                <a href="#" class="nav-link"><span class="iconify" data-icon="feather-bell" data-inline="true" style="height: 40px; width: 40px;"></span></a>
            </li>

        </ul>
    </div>
</nav>

<script>
    if (localStorage.getItem('api_key') == undefined) {
        $('#profile-icon').hide();
        $('#login-link').show();
    } else {
        $('#profile-image').attr('src', `data:image/png;base64, ${localStorage.getItem('tempProfileImage')}`);
        $('#profile-icon').show();
        $('#login-link').hide();
    }

    //Logout Account
    $('#logout-button').click(() => {
        document.cookie = ``;
        localStorage.removeItem('api_key');
        localStorage.removeItem('tempProfileImage');
        window.location = '/login';
    });
</script>